.App {
  text-align: center;
}

nav a {
  margin: 10px;
  font-size: 1.2rem;
}

/*Use by default width NavLink component from react-router-dom*/
.active {
  background-color: lightblue;
  text-decoration: none;
  cursor: unset;
}

.activeLink {
  background-color: lightpink;
  text-decoration: none;
  cursor: unset;
}

.coursesList a {
  display: block;
  margin: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.coursesList a:hover {
  transform: scale(1.2);
}